<div class="modal">
  <header class="bar bar-header bar-balanced">
    <h1 class="title">PILIH TANGGAL</h1>
     <div class="buttons">
            <button class="button button-icon" ng-click="closedate()">
                
                <i class="icon ion-close-circled">
                 
                </i>
            </button>
        </div>
  </header>
  <ion-content has-header="true">
    <div class="padding" style="margin-top:30px;">
      <div pickadate ng-model="myDate"></div>
    </div>
    <button class="button button-full button-balanced" ng-click="closedateModal(myDate)">Simpan Tanggal</button>
  </ion-content>
</div>