<ion-modal-view>
    <ion-header-bar class="bar-positive">
        <h1 class="title">{{action}}</h1>
        <div class="buttons">
            <button class="button button-icon" ng-click="close()">
                
                <i class="icon ion-close-circled">
                 Tutup 
                </i>
            </button>
        </div>
    </ion-header-bar>
    <ion-content>
        
        <ion-list>
             <label class="item item-input">
        <span class="input-label">PID</span>
        <input type="text" name="did" ng-model="dataDokter.did" readonly>
        
        </label>
        <label class="item item-input">
        <span class="input-label">NAMA</span>
        <input type="text" name="nama" ng-model="dataDokter.nama">
        </label>
         <label class="item item-input">
        <span class="input-label">SPESIALIS</span>
        <input type="text" name="spesialis" ng-model="dataDokter.spesialis">
        </label>   
        <label class="item item-input">
        <span class="input-label">ALAMAT</span>
       
        <textarea name="alamat" ng-model="dataDokter.alamat"></textarea>
        </label>
       
        </label>
        <label class="item item-input">
        <span class="input-label">PHONE</span>
        <input type="text" name="phone" ng-model="dataDokter.phone">
        </label>
        
       
        </div>

        <button class="button button-full button-positive" data-ng-click="save(action)">Simpan</button>
        </ion-list>
         
    </ion-content>
</ion-modal-view>
