<ion-view view-title="HOME">
  
    <ion-content>
                
<div class="list card">

  <div class="item item-avatar">
    
    <img src="img/newyann.png">
    <h2>Yann</h2>
    <p>WebService PHP Codeigniter</p>
     <p>Ionic Framework dan AngularJS</p>
  </div>

  
    <a href="#" class="item item-icon-left">
    <i class="icon ion-social-googleplus"></i>
    supriyanih@gmail.com
  </a>

  <a href="#" class="item item-icon-left">
    <i class="icon ion-social-whatsapp-outline"></i>
    088801016435
  </a>

  <a href="#" class="item item-icon-left">
    <i class="icon ion-social-github"></i>
    https://github.com/supriyanih
  </a>

  
   
  

  <div class="item tabs tabs-secondary tabs-icon-left">
    <a class="tab-item" href="#">
      <i class="icon ion-social-html5-outline"></i>
      html5
    </a>
    <a class="tab-item" href="#">
      <i class="icon ion-ionic"></i>
      ionic framework
    </a>
    <a class="tab-item" href="#">
      <i class="icon ion-social-angular-outline"></i>
      angularjs
    </a>
  </div>

</div>
      

    </ion-content>
</ion-view>
